# Default values for marklogic server.

# Number of Marklogic nodes
replicaCount: 2

# update strategy for MarkLogic and Helm chart upgrades
# It is recommended to use OnDelete updateStrategy as MarkLogic bootstrap host (pod-0) needs to be upgraded first in the cluster
# and OnDelete allows more control over the upgrade and recovery in case of failure.
updateStrategy:  
    type: OnDelete

# Termination Grace Period
terminationGracePeriod: 10

# Kubernetes cluster domain name
clusterDomain: cluster.local

# Group related settings
group:
  # the group name of the current Marklogic Helm Deployment
  name: Default
  # xdqp encryption for intra cluster network traffic
  enableXdqpSsl: true

# The name of the host to join. If not provided, the deployment is a bootstrap host.
bootstrapHostName: ""

# Marklogic image parameters
image:
  repository: marklogicdb/marklogic-db
  tag: 10.0-9.5-centos-1.0.0
  pullPolicy: IfNotPresent

# Init container image parameters
initContainerImage:
  repository: curlimages/curl
  tag: 7.87.0
  pullPolicy: IfNotPresent

# Configure the imagePullSecret to pull the image from private repository that requires credential
imagePullSecret: {}
## docker hub registry: https://index.docker.io/v1/
# registry: "https://index.docker.io/v1/"
# username: "your username"
# password: "your password"

# Marklogic pods' resource requests and limits
# ref: https://kubernetes.io/docs/user-guide/compute-resources/
# requests:
#   memory: "3000Mi"
#   cpu: "1000m"
# limits:
#   memory: "3000Mi"
#   cpu: "1000m"
resources: {}

nameOverride: ""
fullnameOverride: ""

# Configure Marklogic Admin Username and Password
auth:
  adminUsername: "admin"
  adminPassword: ""
  walletPassword: ""

# Configure Affinity property for scheduling pods to nodes
# ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
# Preferred anti affinity rule to schedule one marklogic pod per worker node
affinity: 
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      podAffinityTerm:
        labelSelector:
          matchExpressions:
          - key: app.kubernetes.io/name
            operator: In
            values:
            - marklogic
        topologyKey: kubernetes.io/hostname

# Configure NodeSelector property for scheduling pods to nodes
# ref: https://kubernetes.io/docs/tasks/configure-pod-container/assign-pods-nodes/#create-a-pod-that-gets-scheduled-to-your-chosen-node
nodeSelector: {}

# Configure persistence using persistent Volume Claim
# ref: https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistentvolumeclaims
# The "" storageClass will use the default storage class for your cluster. (gp2 for EKS, standard for Minikube)
# If set the enabled to false, it will use EmptyDir volume
persistence:
  enabled: false
  storageClass: ""
  size: 10Gi
  annotations: {}
  accessModes:
    - ReadWriteOnce

## Specify additional list of persistent volume claims
additionalVolumeClaimTemplates: []
# - metadata:
#     name: "logsdir"
#   spec:
#     accessModes:
#       - ReadWriteOnce
#     resources:
#       requests:
#         storage: 10Gi

## specify additional list of volumes
additionalVolumes: []
# - name: additional-vol
#   emptyDir: {}

## specify additional list of volumeMounts
additionalVolumeMounts: []
# - name: "logsdir"
#   mountPath: "/var/opt/MarkLogic/Logs"

## Container listener port configuration
## ref: https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

#########################################################################################
## WARNING: Changing additionalContainerPorts on an existing cluster requires a pod    ##
## restart to take effect. This setting does not need to be changed under normal       ##
## circumsatances though. To expose new ports for MarkLogic app servers, use           ##
## service.additionalPorts. When the updateStrategy is set to OnDelete (the default),  ##
## this must be done manually. If the updateStrategy is changed to RollingUpdate (not  ##
## recommented), changing the additionalContainerPorts will trigger a rolling update   ##
## of the StatefulSet.                                                                 ##
#########################################################################################

## @param additionalContainerPorts. Additional container ports 
## Example:
## - name: app1
##   containerPorts: 8010
##   protocol: TCP
additionalContainerPorts: []


# Configure the Service to access Marklogic Clusters
service:

  ## Service annotations
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  annotations: {}

  type: ClusterIP
  ports:
    - protocol: TCP
      name: query-console
      port: 8000
    - protocol: TCP
      name: admin
      port: 8001
    - protocol: TCP
      name: manage
      port: 8002

  ## Service listener port configuration
  ## ref: https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/

  #######################################################################################
  ## NOTE : When adding new app servers to MarkLogic, the new app server ports must    ##
  ## also be added to the additionalPorts parameter to expose the ports via the        ##
  ## kubernetes service.                                                               ##
  #######################################################################################

  ## @param service.additionalPorts. Additional service ports 
  ## Example:
  ## - name: app1
  ##   port: 8010 
  ##   targetPort: 8010
  ##   protocol: TCP
  additionalPorts: []

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# Configure priority class for pods 
# ref: https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/
priorityClassName:  ""

# Configure options for network policy
# ref: https://kubernetes.io/docs/concepts/services-networking/network-policies
networkPolicy:
  enabled: false
  ## @param networkPolicy.customRules. Additional NetworkPolicy rules
  ## Note that all rules are OR-ed.
  ## Example:
  ## customRules:
  ##   - matchLabels:
  ##       - role: frontend
  ##   - matchExpressions:
  ##       - key: role
  ##         operator: In
  ##         values:
  ##           - frontend
  ##
  customRules: {}
  ## The endPort should be the last port exposed by an App Server
  ports:
    - port: 8000
      endPort: 8020
      protocol: TCP
    
# Below are the security configurations for container, by default security will be enabled
containerSecurityContext:
  enabled: true
  runAsUser: 1000
  runAsNonRoot: true
  allowPrivilegeEscalation: true

# Below are the advanced configurations, please understand read the reference before you make changes

# Configure options for liveness probe
# ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-liveness-http-request
livenessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 60
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1

# Configure options for readiness probe
# ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-readiness-probes
readinessProbe:
  enabled: true
  initialDelaySeconds: 10
  periodSeconds: 60
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1

# Configure options for startup probe
# ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes
startupProbe:
  enabled: true
  initialDelaySeconds: 10
  periodSeconds: 20
  timeoutSeconds: 1
  failureThreshold: 30
  successThreshold: 1

# Configure options for log collection
# Log collection will collect all logs for each file type enabled, parse them, 
# And export them to a logging backend specified in the outputs section below
logCollection:
  enabled: false
  image: fluent/fluent-bit:2.0.6
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "100m"
      memory: "128Mi"
  files:
    errorLogs: true
    accessLogs: true
    requestLogs: true
    crashLogs: true
    auditLogs: true
  outputs: |-
      # Example output config for ElasticSearch output
      # [OUTPUT]
      #   Name es
      #   Match *
      #   Host elasticsearch.default.svc.cluster.local
      #   Port 9200
      #   HTTP_User admin
      #   HTTP_Passwd admin
      # Documentation on how to set up output can be found here: https://docs.fluentbit.io/manual/pipeline/outputs
      # Configure desired output below

# configuration for the haproxy load balancer
haproxy:
  enabled: true

  existingConfigmap: marklogic-haproxy

  # ports opened for HAproxy Server
  containerPorts:   
    stat: 1024
    query: 8000
    admin: 8001
    manage: 8002

